*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins";
}

body{
    padding: 16px;
    background-color:#F7F3F0;
    padding:16px 16px 40px 16px;
    color:#2E1401;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo_container{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .logo_container .title{
    display: none;
}

nav .logo_container .logo{
    border-top:1px solid #2E1401;
    border-right: 2px solid #2E1401;;
    border-left: 1px solid #2E1401;
    border-bottom: 2px solid #2E1401;
    border-radius: 40px;
    background-color: #F8CB46;
    padding:10px;
}

nav .btn_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    border: 1px solid #2E1401;
    background-color: #FFFFFF;
    padding: 4px;
    border-radius:99px;
    filter: drop-shadow(2px 1px 0 #2E1401);
}

main{
    margin-top:24px;
    gap:24px;
    display: flex;
    flex-direction: column;
}

section{
    border-top:1px solid #2E1401;
    border-right: 3px solid #2E1401;;
    border-left: 1px solid #2E1401;
    border-bottom: 3px solid #2E1401;
    border-radius: 16px;
    background-color: #FFFFFF;
}

/************Study Section************/

.top_card_controls{
    padding: 12px 16px;
    display: flex;
    gap:16px;
    justify-content: space-between;
    align-items: baseline;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.inputs .categories_dropdown{
    background-color: #FFFFFF;
    padding: 10px 16px;
    border: 1px solid #2E1401;
    border-radius: 99px;
    text-align: center;
    line-height: 120%;
    font-size: 16px;
    font-weight: 500;
    color: #2E1401;
}

.flashcard{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    border-top: 1px solid gray;
    
}

.flipped{
    position: relative;
    width: 100%;
    height: 350px; 
    border: 2px solid #2E1401;
    border-radius: 16px;
    filter:drop-shadow(2px 2px 0 #2E1401);
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    
}

 .flipped.is_flipped {
    transform: rotateY(360deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.card_questions_side {     
    background-color:#FC8AE5;
    border-radius: 16px;
    
}

.card_answer_side {
    background-color: #92ADEB;
    border-radius: 16px;
    transform: rotateY(360deg);
}

.card_subject{
    border:1px solid #2E1401;
    background-color: #FFFFFF;
    padding: 6px 12px;
    border-radius: 99px;
    max-width: fit-content;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -3%;
    margin-top: 20px;
}

.card_content{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.card_content h2{
    padding-inline:50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.card_content .show_answer{
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 75px;
}

.card_actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

/******** Statistics section ***********/

.statistics{
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.statistics h3{
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
    }

.stats_wrapper{
    display: flex;
    flex-direction: column;
    gap:16px;
}


.stat_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #2E1401;
    border-left: 2px solid #2E1401;
    border-right: 2px solid #2E1401;
    border-bottom: 1px solid #2E1401;
    border-radius: 12px;
}

.stat_value_container{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:32px;
    flex: 1;
}

.stat_label{
    font-weight: 500;
    font-size:16px;
    line-height: 120%;
}

.stat_value{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.stat_icon{
    padding: 48px 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 1px solid #2E1401;
}

.total_icon{
    background-color: #92ADEB;
}

.mastered_icon{
    background-color:#47D9C9;
}
.inprogress_icon{
    background-color:#F073A3;
}
.unstarted_icon{
    background-color:#FC8AE5;
}



/***Buttons general styling***/
.btn{
    padding: 10px 12px;
    border: 1px solid #2E1401;
    border-radius: 99px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    gap:8px;
    align-items: center;
    text-align: center;
    line-height: 120%;
    font-size: 16px;
    font-weight: 500;
    color: #2E1401;
}

.card_actions > button{
    padding: 10px 16px;
    justify-content: center;
}

.action_btn{
    filter:drop-shadow(2px 2px 0 #2E1401);
}

.card_actions .mastered_btn{
    background-color:#F8CB46;
}

.active{
    background-color: #F8CB46;
    font-weight: 600;
}

.disabled{
    border:none;
}

/***Arrows***/
.card_navigation{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
    border-top: 1px solid #6D5B4D;
}

.card_navigation .card_counter{  
    color:#6D5B4D;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
}

.card_navigation > button{
    padding:  10px 12px;
    border:1px solid #2E1401;
    border-radius: 99px;
    align-content: center;
    background-color: #FFFFFF;
    font-weight: medium;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    gap: 15px;
}

.card_navigation > button span{
    display: none;
}



/******Media Queries ******/
@media screen and (min-width:748px){
    nav .logo_container .title{
    display: flex;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
}
  .inputs{
    flex-direction: row;
    align-items: center;
    gap:16px;
  }

  .card_content h2{
    font-size: 32px;
  }

  .card_actions{
    flex-direction: row;
    justify-content: center;
    gap:20px;
  }

  .card_navigation > button span{
    display: flex;
  }

  .stats_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }
}

@media screen and (min-width:991px){
    body{
        padding:24px 150px;
    }

    main{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap:32px;
    }


    .top_card_controls{
    padding: 20px;
    }

    .flashcard{
        padding:50px 20px;
        min-height: 60%;
        gap:20px;
    }

    .card_content h2{
    font-size: 40px;
    }

    .card_navigation{
        padding:25px;
        align-self: center;
    }

    .stat_value{
    font-size:40px;
    }

    .stats_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px
    }

    .stat_icon{
        padding: 56px 51px;
    }

}


